
- if websocket_configured?
  = javascript_include_tag "#{websocket_client_script}"
  = render "importr/admin/data_imports/ws_client"
- else
  = render "importr/admin/data_imports/poll"


.attributes_table
  %table
    %tbody
      %tr.row
        %th
          Status
        %td#process-status
          = @data_import.status_text
      %tr.row
        %th
          Rows processed
        %td#rows-processed
          = @data_import.progress_text
      %tr.row
        .meter.animate
          %span{ style: "width: #{calculate_progress(@data_import)}%" }
      %tr.row
        %th
          Rows with errors
        %td#rows-with-errors
          = @data_import.error_count_text
